





















.container__imagem{
    padding: 1em;
}

.cabecalho-lista{
    display: nome;
    background-color: blueviolet;
    position: absolute;
    top: 100%
    width:60%
}

.container__menu:checked~